<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-md-7 col-lg-6">
	            	<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-md-11">
								<h1>The Blue Book</h1>
								<p class="teaser-1">Proof of Love</p>
							</div>
						</div>
	            	</div>
	            </div>
	            <div class="col-md-4 ml-auto col-lg-6 col-grey">
					<%- image_tag("/img/golden_enso.png") %>
	            </div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-INTRO-->

		<!--MOBILE_SECTION-->
		<section class="section-mobile">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-blue">
						<div class="inner d-flex align-items-start flex-column h-100">
							<div class="row">
								<div class="col-md-11 col-lg-10">
									<div class="img-holder">
										<%- image_tag("/img/infinite_heart.jpg") %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--END-MOBILE-SECTION-->

	<!--HOME-SECTION-1-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-grey section-1-left col-offset-top">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<h3>γνῶθι σεαυτόν</h3>
								<p class="p-large">
									“Sometimes naked<br/>
									Sometimes human.<br/>
									Sometimes scholar<br/>
									Sometimes fool.<br/>
									Thus they appear on Earth,<br/>
									The free people.”
								</p>
								<div class="col-lg-11 d-flex align-items-start flex-column lion">
									<%- image_tag("/img/lion.png") %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-blue col-offset-top section-1-right">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-11 d-flex align-items-start flex-column">
								<%- image_tag("/img/shahada.jpg") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-1-->

	<!--HOME-SECTION-2-->
	<section>
		<div class="container section-2-left">
			<div class="row">
				<div class="col-md-6 col-blue">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<div class="img-holder">
									<iframe width="500" height="320" src="https://www.youtube.com/embed/783hwpJTjlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-grey section-2-right col-offset-top">
					<div class="inner d-flex align-items-start flex-column h-100">
						<p>&nbsp;</p>
						<p class="teaser-2">Parmenides</p>
						<p class="p-large">
							"One story, one road, now<br/>
							is left: that it is.<br/>
							And on this there are signs in plenty that,<br/>
							being, it is ungenerated and indestructible,<br/>
							whole, of one kind and unwavering,<br/>
							and complete."
						</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p class="teaser-2">Stanley Kunitz</p>
						<p class="p-large">
							"It is also a language beyond language, a meta-medium—that is, 
							metabolic, metaphoric, metamorphic. A poet's collected work is his book 
							of changes. The great meditations on death have a curious exaltation. 
							I suppose it comes from the realization, even on the threshold, 
							that one isn't done with one's changes." 
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-2-->

	<!--HOME-SECTION-3-->
	<section class="section-3 p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="inner text-center">
							<p class="p-large">
									“There seems no escape from this necessity.” — Njabulo S. Ndebele
								</p>
						<a href="/canto-i" class="btn btn-arrow">Begin</a>
						<div class="img-holder">
							<%- image_tag("/img/salat-shahada.png") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-3-->

</main>